
<link rel="stylesheet" href=" <%= assetPath('css/home.css') %> ">

<div id="home-container">
    <section id="feed-post">
        <% if(locals.user){ %>
        <form action="/posts/create" method="POST" id="new-post-form">
            <textarea id="textbox" name="content" cols="30" rows="3" placeholder="Type here!" required></textarea>
            <input id="post-btn" type="submit" value="Post">
        </form>
        <%}%>
        <div id="post-list-container">
            <ul class="post-block">
                <% for(post of posts){ %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
        
    </section>
    
    <section id="users-friends">
        <%if(locals.user){%>
            <h4>Users</h4>
            <% for (u of all_user){%>
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>
            <%}%>
        <%}%>
    </section>    
</div>
<script src="<%= assetPath('js/home_posts.js') %>"></script>
<script src="<%= assetPath('js/home_comments.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>

